.git
.gitignore
**/.env
**/.env.*
!**/.env.example
!**/.env.production.example
**/node_modules
**/dist
backend-laravel/vendor
backend-laravel/.env
backend-laravel/.env.*
!backend-laravel/.env.example
!backend-laravel/.env.production.example
frontend/node_modules
frontend/dist
frontend/.angular
backend-laravel/storage/logs/*
backend-laravel/storage/framework/cache/data/*
backend-laravel/storage/framework/sessions/*
backend-laravel/storage/framework/views/*
backend-laravel/.phpunit.cache
